---
---

@import "{{ site.theme }}";
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

minima:
  skin: dark

body{
  color: #aaa;
  background-color: #333;
}
